<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Itestlisteners">

	<listeners>
		<listener class-name="Listeners.listeners"></listener>
	</listeners>
	
	<test name="Login">

		<classes>

			<class name="listeners.Login">
				<methods>
					<include name="loginbyEmail" />
					<include name="loginbyFB" />

				</methods>

			</class>

		</classes>

	</test>
</suite>
